default_type                {{ nginx_default_type }};
server_tokens               {{ nginx_server_tokens }};
msie_padding                {{ nginx_msie_padding }};
max_ranges                  {{ nginx_max_ranges }};
charset                     {{ nginx_charset }};
index                       {{ nginx_index }};
reset_timedout_connection   {{ nginx_reset_timedout_connection }};
keepalive_disable           {{ nginx_keepalive_disable }};

sendfile                    {{ nginx_sendfile }};
tcp_nopush                  {{ nginx_tcp_nopush }};
tcp_nodelay                 {{ nginx_tcp_nodelay }};
keepalive_requests          {{ nginx_keepalive_requests }};