keepalive_timeout           {{ nginx_keepalive_timeout }};
client_header_timeout       {{ nginx_client_header_timeout }};
client_body_timeout         {{ nginx_client_body_timeout }};
send_timeout                {{ nginx_send_timeout }};

fastcgi_connect_timeout     {{ nginx_fastcgi_connect_timeout }};
fastcgi_send_timeout        {{ nginx_fastcgi_send_timeout }};